*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.white_board{
    height:100%;
    width: 100%;
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.colors{
    position: fixed;
    z-index: 10;
}

.color {
    height: 48px;
    width: 48px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}


.color.black {
    background-color: #000;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}